{% extends "base.html" %}
{%- block h1 %}
	<a href="..">{{ config['APP_DISPLAY_NAME'] }}</a>
	&gt; <span>{{ section.name }}</span>
{% endblock -%}
{%- block content %}
<table>
<thead>
<tr>
	<th>Topic</th>
	<th>Date</th>
	<th>Creator</th>
	<th>Comments</th>
	</tr>
</thead>
<tbody>
{% for topic in section.topics %}
<tr>
	<td><a href="{{topic.id}}/">{{topic.title}}</a></td>
	<td>{{ topic.creation_date|datetime }}</td>
	<td>{{ topic.user.handle }}</td>
	<td>{{ topic.comments.count() }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
<p><a href="new"><button type="button">New Topic</button></a></p>
{% endblock -%}
