{% extends "base.html" %}

{% block title %}
  {{super()}}
  &gt; {{section.name}}
  &gt; {{topic.title}}
{% endblock %}

{% block h1 %}
	{{super()}}
	&gt; <a href="..">{{section.name}}</a>
	&gt; <span>{{topic.title}}</span>
{% endblock %}

{% block content %}
<section class="topic">
	<header class="topic_header">
		<h1 class="topic_title">
			{{ topic.title }}
		</h1>
		<div class="topic_poster">
			{{ topic.user.handle }}
		</div>
		<span class="topic_date">
			({{ topic.creation_date|datetime }}{% if topic.edited_date %}, edited {{ topic.edited_date|datetime }}{% endif %})
		</span>
	</header>
	<div class="topic_body">{{ topic.body|markdown }}</div>
	{% if topic.user == current_user %}
	<p>
		<a href="editor"><button type="button">Edit</button></a>
		<a href="delete"><button type="button">Delete</button></a>
	</p>
	{% endif %}

	{% for comment in topic.comments %}
	<section id="c{{ comment.id }}" class="topic comment">
		<header class="topic_header">
			<div class="topic_poster">
				{{ comment.user.handle }}
			</div>
			<div class="topic_date">
				({{ comment.creation_date|datetime }}{% if comment.edited_date %}, edited {{ comment.edited_date|datetime }}{% endif %})
			</div>
		</header>
		<div class="topic_body">{{ comment.body|markdown }}</div>
		{% if comment.user == current_user %}
		<p>
			<a href="{{comment.id}}/editor"><button type="button">Edit</button></a>
			<a href="{{comment.id}}/delete"><button type="button">Delete</button></a>
		</p>
		{% endif %}
	</section>
	{% endfor %}

	<p>
		<a href="new">
			<button type="button">
				{% if current_user.is_authenticated %}Add a Comment{% else %}Log in and Comment{% endif %}
			</button>
		</a>
	</p>
</section>
{% endblock %}
