{% extends "base.html" %}
{%- block h1 %}
	<a href="../../../..">{{ config['APP_DISPLAY_NAME'] }}</a>
	&gt; <a href="../../..">{{ forum.name }}</a>
	&gt; <a href="../..">{{ topic.title }}</a>
{% endblock -%}
{%- block content %}
<div id="c{{ comment.id }}" class="topic comment">
	<div class="topic_header">
		<span class="topic_poster">
			{{ comment.user.handle }}
		</span>
		<span class="topic_date">
			({{ comment.creation_date|datetime }}{% if comment.edited_date %}, edited {{ comment.edited_date|datetime }}{% endif %})
		</span>
	</div>
	<div class="topic_body">{{ comment.body|markdown }}</div>
	<form action="delete" method="POST">
		{{ form.csrf_token }}
		<p>
			<a href=".."><button type="button">Cancel Deletion</button></a>
			<button type="submit">Confirm Deletion</button>
		</p>
	</form>
</div>
{% endblock -%}
