{% extends "base.html" %}
{%- block h1 %}
	<a href="../../..">{{ config['APP_DISPLAY_NAME'] }}</a>
	&gt; <a href="../..">{{ forum.name }}</a>
	{% if topic %}&gt; <a href="..">{{ topic.title }}</a>{% endif %}
{% endblock -%}
{%- block content %}
<form class="topic" action="{% if topic %}editor{% else %}new{% endif %}" method="POST">
	<h2>Topic</h2>
	{{ form.csrf_token }}
	{{ form.title }}
	{{ form.body }}
	<div class="topic_buttons">
		<a href="."><button type="button">Cancel</button></a>
		<button type="submit">{% if topic %}Save{% else %}Create{% endif %}</button>
	</div>
</form>
{% endblock -%}
